<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module: Magento_Config:etc/system_file.xsd">
  <system>
    <tab id="jpeso" translate="label" sortOrder="200">
      <label>Envoy</label>
    </tab>
    <section id="jpeso_envoy" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
      <label>General</label>
      <tab>jpeso</tab>
      <resource>Jpeso_Envoy::envoy_configuration</resource>
        <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
        <field id="timeout" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
          <label>timeout</label>
          <comment>This is the referrer link timeout.</comment>
        </field>
      </group>
    </section>
 </system>
</config>